
-- Profiles table
CREATE TABLE public.profiles (
  id UUID PRIMARY KEY REFERENCES auth.users(id) ON DELETE CASCADE,
  username TEXT UNIQUE,
  display_name TEXT,
  bio TEXT,
  avatar_url TEXT,
  store_slug TEXT UNIQUE,
  store_description TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;

-- Anyone can view profiles
CREATE POLICY "Public profiles are viewable by everyone"
ON public.profiles FOR SELECT
USING (true);

-- Users can update own profile
CREATE POLICY "Users can update own profile"
ON public.profiles FOR UPDATE
TO authenticated
USING (auth.uid() = id);

-- Users can insert own profile
CREATE POLICY "Users can insert own profile"
ON public.profiles FOR INSERT
TO authenticated
WITH CHECK (auth.uid() = id);

-- Trigger to auto-create profile on signup
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER SET search_path = public
AS $$
BEGIN
  INSERT INTO public.profiles (id, display_name, avatar_url)
  VALUES (
    NEW.id,
    COALESCE(NEW.raw_user_meta_data->>'full_name', NEW.raw_user_meta_data->>'name', split_part(NEW.email, '@', 1)),
    COALESCE(NEW.raw_user_meta_data->>'avatar_url', NEW.raw_user_meta_data->>'picture')
  );
  RETURN NEW;
END;
$$;

CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW EXECUTE FUNCTION public.handle_new_user();

-- Products table
CREATE TYPE public.product_type AS ENUM ('file', 'course', 'license', 'bundle');

CREATE TABLE public.products (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  creator_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
  title TEXT NOT NULL,
  description TEXT,
  price NUMERIC(10,2) NOT NULL DEFAULT 0,
  original_price NUMERIC(10,2),
  type product_type NOT NULL DEFAULT 'file',
  thumbnail_url TEXT,
  is_published BOOLEAN NOT NULL DEFAULT false,
  download_url TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

ALTER TABLE public.products ENABLE ROW LEVEL SECURITY;

-- Anyone can view published products
CREATE POLICY "Published products are viewable by everyone"
ON public.products FOR SELECT
USING (is_published = true OR auth.uid() = creator_id);

-- Creators can insert own products
CREATE POLICY "Creators can insert own products"
ON public.products FOR INSERT
TO authenticated
WITH CHECK (auth.uid() = creator_id);

-- Creators can update own products
CREATE POLICY "Creators can update own products"
ON public.products FOR UPDATE
TO authenticated
USING (auth.uid() = creator_id);

-- Creators can delete own products
CREATE POLICY "Creators can delete own products"
ON public.products FOR DELETE
TO authenticated
USING (auth.uid() = creator_id);

-- Storage bucket for product thumbnails and avatars
INSERT INTO storage.buckets (id, name, public) VALUES ('product-assets', 'product-assets', true);

CREATE POLICY "Anyone can view product assets"
ON storage.objects FOR SELECT
USING (bucket_id = 'product-assets');

CREATE POLICY "Authenticated users can upload product assets"
ON storage.objects FOR INSERT
TO authenticated
WITH CHECK (bucket_id = 'product-assets');

CREATE POLICY "Users can update own product assets"
ON storage.objects FOR UPDATE
TO authenticated
USING (bucket_id = 'product-assets');

CREATE POLICY "Users can delete own product assets"
ON storage.objects FOR DELETE
TO authenticated
USING (bucket_id = 'product-assets');
ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS contact text;

-- Store visits tracking
CREATE TABLE public.store_visits (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  store_owner_id uuid NOT NULL,
  visitor_ip text,
  user_agent text,
  referrer text,
  page_path text,
  created_at timestamptz NOT NULL DEFAULT now()
);

ALTER TABLE public.store_visits ENABLE ROW LEVEL SECURITY;

-- Anyone can insert a visit (public tracking)
CREATE POLICY "Anyone can insert visits"
  ON public.store_visits FOR INSERT
  TO anon, authenticated
  WITH CHECK (true);

-- Owners can read their own visits
CREATE POLICY "Owners can read own visits"
  ON public.store_visits FOR SELECT
  TO authenticated
  USING (auth.uid() = store_owner_id);

-- Cart events tracking
CREATE TABLE public.cart_events (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  store_owner_id uuid NOT NULL,
  product_id uuid REFERENCES public.products(id) ON DELETE CASCADE,
  event_type text NOT NULL DEFAULT 'add_to_cart',
  session_id text,
  created_at timestamptz NOT NULL DEFAULT now()
);

ALTER TABLE public.cart_events ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Anyone can insert cart events"
  ON public.cart_events FOR INSERT
  TO anon, authenticated
  WITH CHECK (true);

CREATE POLICY "Owners can read own cart events"
  ON public.cart_events FOR SELECT
  TO authenticated
  USING (auth.uid() = store_owner_id);

-- Payment events tracking
CREATE TABLE public.payment_events (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  store_owner_id uuid NOT NULL,
  product_id uuid REFERENCES public.products(id) ON DELETE SET NULL,
  amount numeric NOT NULL DEFAULT 0,
  status text NOT NULL DEFAULT 'initiated',
  session_id text,
  created_at timestamptz NOT NULL DEFAULT now()
);

ALTER TABLE public.payment_events ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Anyone can insert payment events"
  ON public.payment_events FOR INSERT
  TO anon, authenticated
  WITH CHECK (true);

CREATE POLICY "Owners can read own payment events"
  ON public.payment_events FOR SELECT
  TO authenticated
  USING (auth.uid() = store_owner_id);

-- Drop restrictive policies and recreate as permissive
DROP POLICY IF EXISTS "Public profiles are viewable by everyone" ON public.profiles;
DROP POLICY IF EXISTS "Users can insert own profile" ON public.profiles;
DROP POLICY IF EXISTS "Users can update own profile" ON public.profiles;

CREATE POLICY "Public profiles are viewable by everyone"
  ON public.profiles FOR SELECT
  USING (true);

CREATE POLICY "Users can insert own profile"
  ON public.profiles FOR INSERT
  WITH CHECK (auth.uid() = id);

CREATE POLICY "Users can update own profile"
  ON public.profiles FOR UPDATE
  USING (auth.uid() = id);

-- Fix products table RLS policies (also restrictive)
DROP POLICY IF EXISTS "Published products are viewable by everyone" ON public.products;
DROP POLICY IF EXISTS "Creators can insert own products" ON public.products;
DROP POLICY IF EXISTS "Creators can update own products" ON public.products;
DROP POLICY IF EXISTS "Creators can delete own products" ON public.products;

CREATE POLICY "Published products are viewable by everyone"
  ON public.products FOR SELECT
  USING ((is_published = true) OR (auth.uid() = creator_id));

CREATE POLICY "Creators can insert own products"
  ON public.products FOR INSERT
  WITH CHECK (auth.uid() = creator_id);

CREATE POLICY "Creators can update own products"
  ON public.products FOR UPDATE
  USING (auth.uid() = creator_id);

CREATE POLICY "Creators can delete own products"
  ON public.products FOR DELETE
  USING (auth.uid() = creator_id);

-- Add type-specific columns to products table

-- License fields
ALTER TABLE public.products ADD COLUMN IF NOT EXISTS license_max_activations integer DEFAULT NULL;
ALTER TABLE public.products ADD COLUMN IF NOT EXISTS license_validity_days integer DEFAULT NULL;

-- Bundle fields
ALTER TABLE public.products ADD COLUMN IF NOT EXISTS bundle_product_ids uuid[] DEFAULT NULL;
ALTER TABLE public.products ADD COLUMN IF NOT EXISTS bundle_discount_percent numeric DEFAULT NULL;

-- Course fields  
ALTER TABLE public.products ADD COLUMN IF NOT EXISTS course_content_type text DEFAULT NULL; -- 'video', 'text', 'mixed'

-- Common
ALTER TABLE public.products ADD COLUMN IF NOT EXISTS accepted_formats text DEFAULT NULL; -- for display info

-- Table for buyer customers (linked to auth via OTP)
CREATE TABLE public.customers (
  id uuid NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  auth_id uuid REFERENCES auth.users(id) ON DELETE SET NULL,
  email text NOT NULL,
  name text NOT NULL,
  phone text NOT NULL,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now()
);

-- Unique constraint on email
CREATE UNIQUE INDEX customers_email_unique ON public.customers(email);
-- Index for auth lookup
CREATE INDEX customers_auth_id_idx ON public.customers(auth_id);

-- Orders table
CREATE TABLE public.orders (
  id uuid NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  customer_id uuid NOT NULL REFERENCES public.customers(id) ON DELETE CASCADE,
  product_id uuid NOT NULL REFERENCES public.products(id) ON DELETE CASCADE,
  store_owner_id uuid NOT NULL,
  amount numeric NOT NULL DEFAULT 0,
  status text NOT NULL DEFAULT 'completed',
  created_at timestamp with time zone NOT NULL DEFAULT now()
);

CREATE INDEX orders_customer_id_idx ON public.orders(customer_id);
CREATE INDEX orders_store_owner_id_idx ON public.orders(store_owner_id);

-- RLS for customers
ALTER TABLE public.customers ENABLE ROW LEVEL SECURITY;

-- Customers can read their own record (via auth)
CREATE POLICY "Customers can read own record" ON public.customers
  FOR SELECT USING (auth.uid() = auth_id);

-- Anyone can insert (during checkout)
CREATE POLICY "Anyone can insert customers" ON public.customers
  FOR INSERT WITH CHECK (true);

-- Customers can update their own record
CREATE POLICY "Customers can update own record" ON public.customers
  FOR UPDATE USING (auth.uid() = auth_id);

-- RLS for orders
ALTER TABLE public.orders ENABLE ROW LEVEL SECURITY;

-- Customers can read their own orders
CREATE POLICY "Customers can read own orders" ON public.orders
  FOR SELECT USING (
    EXISTS (
      SELECT 1 FROM public.customers c 
      WHERE c.id = orders.customer_id AND c.auth_id = auth.uid()
    )
  );

-- Store owners can read orders for their store
CREATE POLICY "Store owners can read their orders" ON public.orders
  FOR SELECT USING (auth.uid() = store_owner_id);

-- Anyone can insert orders (during checkout)
CREATE POLICY "Anyone can insert orders" ON public.orders
  FOR INSERT WITH CHECK (true);

-- Drop restrictive policies and recreate as permissive
DROP POLICY IF EXISTS "Anyone can insert customers" ON public.customers;
DROP POLICY IF EXISTS "Customers can read own record" ON public.customers;
DROP POLICY IF EXISTS "Customers can update own record" ON public.customers;

CREATE POLICY "Anyone can insert customers" ON public.customers
FOR INSERT TO public
WITH CHECK (true);

CREATE POLICY "Customers can read own record" ON public.customers
FOR SELECT TO authenticated
USING (auth_id = auth.uid());

CREATE POLICY "Customers can update own record" ON public.customers
FOR UPDATE TO authenticated
USING (auth_id = auth.uid());

-- Also fix orders insert policy
DROP POLICY IF EXISTS "Anyone can insert orders" ON public.orders;

CREATE POLICY "Anyone can insert orders" ON public.orders
FOR INSERT TO public
WITH CHECK (true);

-- Promo codes table
CREATE TABLE public.promo_codes (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  code TEXT NOT NULL,
  discount_percent NUMERIC,
  discount_amount NUMERIC,
  max_uses INTEGER,
  current_uses INTEGER NOT NULL DEFAULT 0,
  expires_at TIMESTAMP WITH TIME ZONE,
  creator_id UUID NOT NULL,
  is_active BOOLEAN NOT NULL DEFAULT true,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

ALTER TABLE public.promo_codes ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Creators can manage own promo codes" ON public.promo_codes
  FOR ALL TO authenticated
  USING (auth.uid() = creator_id)
  WITH CHECK (auth.uid() = creator_id);

-- Email campaigns table
CREATE TABLE public.email_campaigns (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  subject TEXT NOT NULL,
  content TEXT NOT NULL,
  recipient_type TEXT NOT NULL DEFAULT 'all_customers',
  status TEXT NOT NULL DEFAULT 'draft',
  sent_count INTEGER NOT NULL DEFAULT 0,
  creator_id UUID NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now(),
  sent_at TIMESTAMP WITH TIME ZONE
);

ALTER TABLE public.email_campaigns ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Creators can manage own campaigns" ON public.email_campaigns
  FOR ALL TO authenticated
  USING (auth.uid() = creator_id)
  WITH CHECK (auth.uid() = creator_id);

-- Automations table
CREATE TABLE public.automations (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  name TEXT NOT NULL,
  trigger_event TEXT NOT NULL,
  action_type TEXT NOT NULL,
  action_config JSONB NOT NULL DEFAULT '{}',
  is_active BOOLEAN NOT NULL DEFAULT true,
  creator_id UUID NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

ALTER TABLE public.automations ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Creators can manage own automations" ON public.automations
  FOR ALL TO authenticated
  USING (auth.uid() = creator_id)
  WITH CHECK (auth.uid() = creator_id);

-- Notifications table
CREATE TABLE public.notifications (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID NOT NULL,
  title TEXT NOT NULL,
  message TEXT NOT NULL,
  type TEXT NOT NULL DEFAULT 'info',
  is_read BOOLEAN NOT NULL DEFAULT false,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

ALTER TABLE public.notifications ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can read own notifications" ON public.notifications
  FOR SELECT TO authenticated
  USING (auth.uid() = user_id);

CREATE POLICY "Users can update own notifications" ON public.notifications
  FOR UPDATE TO authenticated
  USING (auth.uid() = user_id);

CREATE POLICY "System can insert notifications" ON public.notifications
  FOR INSERT
  WITH CHECK (true);

-- Enable realtime for notifications
ALTER PUBLICATION supabase_realtime ADD TABLE public.notifications;

-- Withdrawals table
CREATE TABLE public.withdrawals (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID NOT NULL,
  amount NUMERIC NOT NULL,
  fee NUMERIC NOT NULL DEFAULT 0,
  net_amount NUMERIC NOT NULL,
  phone_number TEXT NOT NULL,
  operator TEXT NOT NULL DEFAULT 'mtn',
  status TEXT NOT NULL DEFAULT 'pending',
  moneroo_reference TEXT,
  processed_at TIMESTAMP WITH TIME ZONE,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

ALTER TABLE public.withdrawals ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can read own withdrawals" ON public.withdrawals
  FOR SELECT TO authenticated
  USING (auth.uid() = user_id);

CREATE POLICY "Users can insert own withdrawals" ON public.withdrawals
  FOR INSERT TO authenticated
  WITH CHECK (auth.uid() = user_id);

-- Add mobile money info to profiles
ALTER TABLE public.profiles
  ADD COLUMN IF NOT EXISTS momo_phone TEXT,
  ADD COLUMN IF NOT EXISTS momo_operator TEXT DEFAULT 'mtn';

-- Add store_logo_url to profiles
ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS store_logo_url text;

-- Create course_lessons table for video lessons
CREATE TABLE public.course_lessons (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  product_id uuid REFERENCES public.products(id) ON DELETE CASCADE NOT NULL,
  title text NOT NULL,
  description text,
  video_url text,
  video_type text DEFAULT 'external',
  position integer NOT NULL DEFAULT 0,
  duration_minutes integer,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now()
);

-- Enable RLS
ALTER TABLE public.course_lessons ENABLE ROW LEVEL SECURITY;

-- Creators can manage their own lessons (via product ownership)
CREATE POLICY "Creators can manage own lessons"
  ON public.course_lessons
  FOR ALL
  TO authenticated
  USING (
    EXISTS (
      SELECT 1 FROM public.products
      WHERE products.id = course_lessons.product_id
      AND products.creator_id = auth.uid()
    )
  )
  WITH CHECK (
    EXISTS (
      SELECT 1 FROM public.products
      WHERE products.id = course_lessons.product_id
      AND products.creator_id = auth.uid()
    )
  );

-- Buyers can view lessons of published courses
CREATE POLICY "Anyone can view published course lessons"
  ON public.course_lessons
  FOR SELECT
  USING (
    EXISTS (
      SELECT 1 FROM public.products
      WHERE products.id = course_lessons.product_id
      AND products.is_published = true
    )
  );

-- Table for KYC identity verifications
CREATE TABLE public.identity_verifications (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID NOT NULL REFERENCES auth.users(id) ON DELETE CASCADE,
  document_type TEXT NOT NULL DEFAULT 'cni',
  document_front_url TEXT NOT NULL,
  document_back_url TEXT,
  selfie_url TEXT,
  status TEXT NOT NULL DEFAULT 'pending',
  rejection_reason TEXT,
  submitted_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now(),
  reviewed_at TIMESTAMP WITH TIME ZONE,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now(),
  UNIQUE(user_id)
);

ALTER TABLE public.identity_verifications ENABLE ROW LEVEL SECURITY;

-- Users can view their own verification
CREATE POLICY "Users can view own verification"
  ON public.identity_verifications FOR SELECT
  TO authenticated
  USING (auth.uid() = user_id);

-- Users can insert their own verification
CREATE POLICY "Users can submit verification"
  ON public.identity_verifications FOR INSERT
  TO authenticated
  WITH CHECK (auth.uid() = user_id);

-- Users can update their own pending verification
CREATE POLICY "Users can update own pending verification"
  ON public.identity_verifications FOR UPDATE
  TO authenticated
  USING (auth.uid() = user_id AND status = 'pending');

-- Drop restrictive INSERT policies and recreate as permissive
DROP POLICY IF EXISTS "Anyone can insert customers" ON public.customers;
CREATE POLICY "Anyone can insert customers" ON public.customers
  FOR INSERT TO anon, authenticated
  WITH CHECK (true);

DROP POLICY IF EXISTS "Anyone can insert orders" ON public.orders;
CREATE POLICY "Anyone can insert orders" ON public.orders
  FOR INSERT TO anon, authenticated
  WITH CHECK (true);

-- Create product_faqs table
CREATE TABLE public.product_faqs (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  product_id UUID REFERENCES public.products(id) ON DELETE CASCADE NOT NULL,
  question TEXT NOT NULL,
  answer TEXT NOT NULL,
  position INTEGER NOT NULL DEFAULT 0,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

-- Enable RLS
ALTER TABLE public.product_faqs ENABLE ROW LEVEL SECURITY;

-- Anyone can read FAQs (for product pages)
CREATE POLICY "Anyone can read product FAQs"
ON public.product_faqs FOR SELECT
TO anon, authenticated
USING (true);

-- Only product owner can insert/update/delete
CREATE POLICY "Product owner can manage FAQs"
ON public.product_faqs FOR ALL
TO authenticated
USING (
  EXISTS (
    SELECT 1 FROM public.products
    WHERE products.id = product_faqs.product_id
    AND products.creator_id = auth.uid()
  )
)
WITH CHECK (
  EXISTS (
    SELECT 1 FROM public.products
    WHERE products.id = product_faqs.product_id
    AND products.creator_id = auth.uid()
  )
);

-- Add SEO columns to products table
ALTER TABLE public.products
  ADD COLUMN IF NOT EXISTS seo_title TEXT,
  ADD COLUMN IF NOT EXISTS seo_description TEXT,
  ADD COLUMN IF NOT EXISTS seo_keywords TEXT,
  ADD COLUMN IF NOT EXISTS seo_image_url TEXT;

ALTER TABLE public.profiles
ADD COLUMN IF NOT EXISTS store_theme text DEFAULT 'feed',
ADD COLUMN IF NOT EXISTS store_brand_color text DEFAULT '#6366f1',
ADD COLUMN IF NOT EXISTS store_font text DEFAULT 'Inter',
ADD COLUMN IF NOT EXISTS store_corner_style text DEFAULT 'rounded',
ADD COLUMN IF NOT EXISTS store_button_animation text DEFAULT 'none',
ADD COLUMN IF NOT EXISTS store_show_featured boolean DEFAULT true,
ADD COLUMN IF NOT EXISTS store_show_buy_button boolean DEFAULT true,
ADD COLUMN IF NOT EXISTS store_show_recommended boolean DEFAULT true,
ADD COLUMN IF NOT EXISTS store_product_layout text DEFAULT 'grid-2',
ADD COLUMN IF NOT EXISTS store_sort_order text DEFAULT 'recent';

ALTER TABLE public.profiles
ADD COLUMN IF NOT EXISTS onboarding_completed boolean DEFAULT false,
ADD COLUMN IF NOT EXISTS store_keywords text DEFAULT NULL;
ALTER TABLE public.profiles ADD COLUMN IF NOT EXISTS store_banner_url text;
-- Add moneroo transaction reference to payment_events
ALTER TABLE public.payment_events ADD COLUMN IF NOT EXISTS moneroo_transaction_id text;

-- Allow updates on payment_events (for webhook to update status)
CREATE POLICY "Anyone can update payment events by session"
ON public.payment_events
FOR UPDATE
USING (true);

-- Enable realtime for payment_events
ALTER PUBLICATION supabase_realtime ADD TABLE public.payment_events;
ALTER TABLE public.orders ADD COLUMN IF NOT EXISTS moneroo_transaction_id text;
-- Allow store owners to read customers who have purchased from them
CREATE POLICY "Store owners can read their customers"
ON public.customers
FOR SELECT
TO authenticated
USING (
  EXISTS (
    SELECT 1 FROM public.orders
    WHERE orders.customer_id = customers.id
    AND orders.store_owner_id = auth.uid()
  )
);
-- Anti-recursion helper for customers RLS
CREATE OR REPLACE FUNCTION public.customer_has_order_with_store(_customer_id uuid, _store_owner_id uuid)
RETURNS boolean
LANGUAGE sql
STABLE
SECURITY DEFINER
SET search_path = public
AS $$
  SELECT EXISTS (
    SELECT 1
    FROM public.orders o
    WHERE o.customer_id = _customer_id
      AND o.store_owner_id = _store_owner_id
  );
$$;

-- Replace recursive policy with function-based policy
DROP POLICY IF EXISTS "Store owners can read their customers" ON public.customers;

CREATE POLICY "Store owners can read their customers"
ON public.customers
FOR SELECT
TO authenticated
USING (public.customer_has_order_with_store(customers.id, auth.uid()));

-- Table pour stocker les configurations de webhooks des vendeurs
CREATE TABLE public.webhooks (
  id uuid NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  creator_id uuid NOT NULL,
  name text NOT NULL,
  url text NOT NULL,
  secret text,
  events text[] NOT NULL DEFAULT '{}',
  product_ids uuid[] DEFAULT NULL,
  is_active boolean NOT NULL DEFAULT true,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now()
);

-- Table pour les logs de livraison webhook
CREATE TABLE public.webhook_logs (
  id uuid NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  webhook_id uuid NOT NULL REFERENCES public.webhooks(id) ON DELETE CASCADE,
  event text NOT NULL,
  payload jsonb NOT NULL DEFAULT '{}',
  response_status integer,
  response_body text,
  success boolean NOT NULL DEFAULT false,
  attempt integer NOT NULL DEFAULT 1,
  created_at timestamp with time zone NOT NULL DEFAULT now()
);

-- Enable RLS
ALTER TABLE public.webhooks ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.webhook_logs ENABLE ROW LEVEL SECURITY;

-- Policies for webhooks
CREATE POLICY "Creators can manage own webhooks"
ON public.webhooks FOR ALL TO authenticated
USING (auth.uid() = creator_id)
WITH CHECK (auth.uid() = creator_id);

-- Policies for webhook_logs
CREATE POLICY "Creators can read own webhook logs"
ON public.webhook_logs FOR SELECT TO authenticated
USING (EXISTS (
  SELECT 1 FROM public.webhooks w
  WHERE w.id = webhook_logs.webhook_id AND w.creator_id = auth.uid()
));

-- Allow system to insert logs (via edge function with service_role)
CREATE POLICY "System can insert webhook logs"
ON public.webhook_logs FOR INSERT
WITH CHECK (true);

-- Index for performance
CREATE INDEX idx_webhooks_creator ON public.webhooks(creator_id);
CREATE INDEX idx_webhook_logs_webhook ON public.webhook_logs(webhook_id);
CREATE INDEX idx_webhook_logs_created ON public.webhook_logs(created_at DESC);

-- Table des licences
CREATE TABLE public.licenses (
  id uuid NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  license_key text NOT NULL UNIQUE,
  product_id uuid NOT NULL REFERENCES public.products(id) ON DELETE CASCADE,
  customer_id uuid NOT NULL REFERENCES public.customers(id) ON DELETE CASCADE,
  order_id uuid REFERENCES public.orders(id) ON DELETE SET NULL,
  store_owner_id uuid NOT NULL,
  status text NOT NULL DEFAULT 'pending_activation',
  max_activations integer NOT NULL DEFAULT 1,
  validity_days integer,
  activated_at timestamp with time zone,
  expires_at timestamp with time zone,
  revoked_at timestamp with time zone,
  created_at timestamp with time zone NOT NULL DEFAULT now(),
  updated_at timestamp with time zone NOT NULL DEFAULT now()
);

-- Table des activations de licence
CREATE TABLE public.license_activations (
  id uuid NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  license_id uuid NOT NULL REFERENCES public.licenses(id) ON DELETE CASCADE,
  device_id text NOT NULL,
  device_name text,
  ip_address text,
  user_agent text,
  is_active boolean NOT NULL DEFAULT true,
  activated_at timestamp with time zone NOT NULL DEFAULT now(),
  deactivated_at timestamp with time zone
);

-- Enable RLS
ALTER TABLE public.licenses ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.license_activations ENABLE ROW LEVEL SECURITY;

-- Policies for licenses
CREATE POLICY "Store owners can read their licenses"
ON public.licenses FOR SELECT TO authenticated
USING (auth.uid() = store_owner_id);

CREATE POLICY "Store owners can update their licenses"
ON public.licenses FOR UPDATE TO authenticated
USING (auth.uid() = store_owner_id);

-- System can insert licenses (via edge function with service_role)
CREATE POLICY "System can insert licenses"
ON public.licenses FOR INSERT
WITH CHECK (true);

-- Policies for license_activations
CREATE POLICY "Store owners can read activations"
ON public.license_activations FOR SELECT TO authenticated
USING (EXISTS (
  SELECT 1 FROM public.licenses l
  WHERE l.id = license_activations.license_id AND l.store_owner_id = auth.uid()
));

-- System can insert/update activations (via edge function)
CREATE POLICY "System can insert activations"
ON public.license_activations FOR INSERT
WITH CHECK (true);

CREATE POLICY "System can update activations"
ON public.license_activations FOR UPDATE
USING (true);

-- Indexes
CREATE INDEX idx_licenses_store_owner ON public.licenses(store_owner_id);
CREATE INDEX idx_licenses_product ON public.licenses(product_id);
CREATE INDEX idx_licenses_customer ON public.licenses(customer_id);
CREATE INDEX idx_licenses_key ON public.licenses(license_key);
CREATE INDEX idx_licenses_status ON public.licenses(status);
CREATE INDEX idx_license_activations_license ON public.license_activations(license_id);
CREATE INDEX idx_license_activations_device ON public.license_activations(device_id);

-- Function to generate a unique license key
CREATE OR REPLACE FUNCTION public.generate_license_key()
RETURNS text
LANGUAGE plpgsql
SET search_path = public
AS $$
DECLARE
  chars text := 'ABCDEFGHJKLMNPQRSTUVWXYZ23456789';
  result text := '';
  i integer;
  segment integer;
BEGIN
  FOR segment IN 1..4 LOOP
    IF segment > 1 THEN
      result := result || '-';
    END IF;
    FOR i IN 1..4 LOOP
      result := result || substr(chars, floor(random() * length(chars) + 1)::integer, 1);
    END LOOP;
  END LOOP;
  RETURN result;
END;
$$;

-- Add country and device_type columns to store_visits for analytics
ALTER TABLE public.store_visits
ADD COLUMN country text DEFAULT NULL,
ADD COLUMN device_type text DEFAULT NULL;

-- Index for analytics queries
CREATE INDEX idx_store_visits_country ON public.store_visits(store_owner_id, country);
CREATE INDEX idx_store_visits_device ON public.store_visits(store_owner_id, device_type);

-- Create updated_at function
CREATE OR REPLACE FUNCTION public.update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
  NEW.updated_at = now();
  RETURN NEW;
END;
$$ LANGUAGE plpgsql SET search_path = public;

-- Support conversations table
CREATE TABLE public.support_conversations (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID NOT NULL,
  user_email TEXT NOT NULL,
  user_name TEXT NOT NULL,
  subject TEXT NOT NULL DEFAULT 'Support',
  status TEXT NOT NULL DEFAULT 'open',
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now(),
  updated_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

ALTER TABLE public.support_conversations ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view own conversations" ON public.support_conversations FOR SELECT USING (auth.uid() = user_id);
CREATE POLICY "Users can create conversations" ON public.support_conversations FOR INSERT WITH CHECK (auth.uid() = user_id);
CREATE POLICY "Admin can view all conversations" ON public.support_conversations FOR SELECT USING (auth.email() = 'isidoreagonan@gmail.com');
CREATE POLICY "Admin can update all conversations" ON public.support_conversations FOR UPDATE USING (auth.email() = 'isidoreagonan@gmail.com');

CREATE TRIGGER update_support_conversations_updated_at
  BEFORE UPDATE ON public.support_conversations
  FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();

-- Support messages table
CREATE TABLE public.support_messages (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  conversation_id UUID NOT NULL REFERENCES public.support_conversations(id) ON DELETE CASCADE,
  sender_type TEXT NOT NULL DEFAULT 'user',
  sender_id UUID,
  content TEXT NOT NULL,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

ALTER TABLE public.support_messages ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can read own conversation messages" ON public.support_messages FOR SELECT
  USING (EXISTS (SELECT 1 FROM public.support_conversations c WHERE c.id = support_messages.conversation_id AND c.user_id = auth.uid()));

CREATE POLICY "Users can send messages" ON public.support_messages FOR INSERT
  WITH CHECK (EXISTS (SELECT 1 FROM public.support_conversations c WHERE c.id = support_messages.conversation_id AND c.user_id = auth.uid()) OR auth.email() = 'isidoreagonan@gmail.com');

CREATE POLICY "Admin can read all messages" ON public.support_messages FOR SELECT
  USING (auth.email() = 'isidoreagonan@gmail.com');

ALTER PUBLICATION supabase_realtime ADD TABLE public.support_messages;
ALTER PUBLICATION supabase_realtime ADD TABLE public.support_conversations;

-- Store contact messages
CREATE TABLE public.store_contact_messages (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  store_owner_id UUID NOT NULL,
  sender_name TEXT NOT NULL,
  sender_email TEXT NOT NULL,
  sender_phone TEXT,
  message TEXT NOT NULL,
  is_read BOOLEAN NOT NULL DEFAULT false,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now()
);

ALTER TABLE public.store_contact_messages ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Anyone can send contact messages" ON public.store_contact_messages FOR INSERT WITH CHECK (true);
CREATE POLICY "Store owners can read contact messages" ON public.store_contact_messages FOR SELECT USING (auth.uid() = store_owner_id);
CREATE POLICY "Store owners can update contact messages" ON public.store_contact_messages FOR UPDATE USING (auth.uid() = store_owner_id);
-- Add tracking pixel columns to profiles
ALTER TABLE public.profiles
ADD COLUMN IF NOT EXISTS facebook_pixel_id text DEFAULT NULL,
ADD COLUMN IF NOT EXISTS tiktok_pixel_id text DEFAULT NULL,
ADD COLUMN IF NOT EXISTS google_ads_id text DEFAULT NULL;

-- Add identity fields to identity_verifications for KYC
ALTER TABLE public.identity_verifications
ADD COLUMN IF NOT EXISTS full_name text DEFAULT NULL,
ADD COLUMN IF NOT EXISTS country text DEFAULT NULL,
ADD COLUMN IF NOT EXISTS city text DEFAULT NULL;

-- Add AI analysis columns to identity_verifications
ALTER TABLE public.identity_verifications
ADD COLUMN IF NOT EXISTS ai_recommendation text DEFAULT NULL,
ADD COLUMN IF NOT EXISTS ai_confidence numeric DEFAULT NULL,
ADD COLUMN IF NOT EXISTS ai_analysis_details text DEFAULT NULL,
ADD COLUMN IF NOT EXISTS ai_analyzed_at timestamp with time zone DEFAULT NULL;

-- Create stores table
CREATE TABLE public.stores (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  owner_id uuid NOT NULL,
  name text NOT NULL,
  slug text NOT NULL UNIQUE,
  description text,
  logo_url text,
  banner_url text,
  brand_color text DEFAULT '#6366f1',
  font text DEFAULT 'Inter',
  corner_style text DEFAULT 'rounded',
  button_animation text DEFAULT 'none',
  theme text DEFAULT 'feed',
  product_layout text DEFAULT 'grid-2',
  sort_order text DEFAULT 'recent',
  show_featured boolean DEFAULT true,
  show_recommended boolean DEFAULT true,
  show_buy_button boolean DEFAULT true,
  keywords text,
  is_archived boolean NOT NULL DEFAULT false,
  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now()
);

-- Enable RLS
ALTER TABLE public.stores ENABLE ROW LEVEL SECURITY;

-- Policies
CREATE POLICY "Public can view active stores"
  ON public.stores FOR SELECT
  USING (is_archived = false);

CREATE POLICY "Owners can view all own stores"
  ON public.stores FOR SELECT
  USING (auth.uid() = owner_id);

CREATE POLICY "Owners can insert own stores"
  ON public.stores FOR INSERT
  WITH CHECK (auth.uid() = owner_id);

CREATE POLICY "Owners can update own stores"
  ON public.stores FOR UPDATE
  USING (auth.uid() = owner_id);

-- No delete policy: stores can only be archived

-- Trigger to update updated_at
CREATE TRIGGER update_stores_updated_at
  BEFORE UPDATE ON public.stores
  FOR EACH ROW
  EXECUTE FUNCTION public.update_updated_at_column();

-- Function to enforce max 3 active stores per user
CREATE OR REPLACE FUNCTION public.check_max_active_stores()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  IF NEW.is_archived = false THEN
    IF (
      SELECT count(*) FROM public.stores
      WHERE owner_id = NEW.owner_id AND is_archived = false AND id != NEW.id
    ) >= 3 THEN
      RAISE EXCEPTION 'Maximum of 3 active stores per user reached';
    END IF;
  END IF;
  RETURN NEW;
END;
$$;

-- Trigger on insert and update
CREATE TRIGGER enforce_max_active_stores
  BEFORE INSERT OR UPDATE ON public.stores
  FOR EACH ROW
  EXECUTE FUNCTION public.check_max_active_stores();

-- Migrate existing profile store data into the stores table
-- Only for users who had a store_slug set and don't already have a store
INSERT INTO public.stores (owner_id, name, slug, description, logo_url, banner_url, brand_color, font, corner_style, button_animation, show_featured, show_buy_button, show_recommended, product_layout, sort_order, theme, keywords)
SELECT 
  p.id,
  COALESCE(p.display_name, 'Ma Boutique'),
  p.store_slug,
  p.store_description,
  p.store_logo_url,
  p.store_banner_url,
  COALESCE(p.store_brand_color, '#6366f1'),
  COALESCE(p.store_font, 'Inter'),
  COALESCE(p.store_corner_style, 'rounded'),
  COALESCE(p.store_button_animation, 'none'),
  COALESCE(p.store_show_featured, true),
  COALESCE(p.store_show_buy_button, true),
  COALESCE(p.store_show_recommended, true),
  COALESCE(p.store_product_layout, 'grid-2'),
  COALESCE(p.store_sort_order, 'recent'),
  COALESCE(p.store_theme, 'feed'),
  p.store_keywords
FROM public.profiles p
WHERE p.store_slug IS NOT NULL
  AND p.store_slug != ''
  AND NOT EXISTS (
    SELECT 1 FROM public.stores s WHERE s.owner_id = p.id AND s.slug = p.store_slug
  );
-- Allow product creators to delete related orders
CREATE POLICY "Creators can delete orders for own products"
ON public.orders
FOR DELETE
USING (auth.uid() = store_owner_id);

-- Allow product creators to delete related licenses
CREATE POLICY "Creators can delete own licenses"
ON public.licenses
FOR DELETE
USING (auth.uid() = store_owner_id);

-- Allow deletion of license activations linked to own licenses
CREATE POLICY "Creators can delete activations for own licenses"
ON public.license_activations
FOR DELETE
USING (EXISTS (
  SELECT 1 FROM public.licenses l
  WHERE l.id = license_activations.license_id AND l.store_owner_id = auth.uid()
));

-- Allow creators to delete own cart events
CREATE POLICY "Creators can delete own cart events"
ON public.cart_events
FOR DELETE
USING (auth.uid() = store_owner_id);

-- Allow creators to delete own payment events
CREATE POLICY "Creators can delete own payment events"
ON public.payment_events
FOR DELETE
USING (auth.uid() = store_owner_id);

ALTER TABLE public.profiles 
ADD COLUMN IF NOT EXISTS first_name text,
ADD COLUMN IF NOT EXISTS last_name text,
ADD COLUMN IF NOT EXISTS phone text,
ADD COLUMN IF NOT EXISTS country_code text DEFAULT 'BJ';

CREATE OR REPLACE FUNCTION public.handle_new_user()
 RETURNS trigger
 LANGUAGE plpgsql
 SECURITY DEFINER
 SET search_path TO 'public'
AS $function$
BEGIN
  INSERT INTO public.profiles (id, display_name, first_name, last_name, phone, country_code, avatar_url)
  VALUES (
    NEW.id,
    COALESCE(NEW.raw_user_meta_data->>'full_name', NEW.raw_user_meta_data->>'name', split_part(NEW.email, '@', 1)),
    NEW.raw_user_meta_data->>'first_name',
    NEW.raw_user_meta_data->>'last_name',
    NEW.raw_user_meta_data->>'phone',
    COALESCE(NEW.raw_user_meta_data->>'country_code', 'BJ'),
    COALESCE(NEW.raw_user_meta_data->>'avatar_url', NEW.raw_user_meta_data->>'picture')
  );
  RETURN NEW;
END;
$function$;

CREATE TABLE public.buyer_otps (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  email text NOT NULL,
  code text NOT NULL,
  expires_at timestamp with time zone NOT NULL,
  used boolean NOT NULL DEFAULT false,
  created_at timestamp with time zone NOT NULL DEFAULT now()
);

ALTER TABLE public.buyer_otps ENABLE ROW LEVEL SECURITY;

CREATE POLICY "System can manage buyer otps" ON public.buyer_otps FOR ALL USING (true) WITH CHECK (true);

CREATE INDEX idx_buyer_otps_email_code ON public.buyer_otps(email, code);
ALTER TABLE public.stores ADD COLUMN IF NOT EXISTS layout_sections jsonb NOT NULL DEFAULT '[
  {"type":"hero","enabled":true,"position":0,"config":{"title":"","subtitle":"","show_banner":true}},
  {"type":"benefits","enabled":false,"position":1,"config":{"items":[]}},
  {"type":"featured_products","enabled":true,"position":2,"config":{"title":"Produits en vedette","count":4}},
  {"type":"products_grid","enabled":true,"position":3,"config":{"title":"Tous les produits"}},
  {"type":"about","enabled":false,"position":4,"config":{"title":"Ã€ propos","content":""}},
  {"type":"testimonials","enabled":false,"position":5,"config":{"items":[]}},
  {"type":"video","enabled":false,"position":6,"config":{"title":"","video_url":"","video_type":"youtube"}},
  {"type":"faq","enabled":false,"position":7,"config":{"title":"Questions frÃ©quentes","items":[]}},
  {"type":"banner_promo","enabled":false,"position":8,"config":{"title":"","subtitle":"","cta_text":"","cta_url":"","bg_color":""}},
  {"type":"gallery","enabled":false,"position":9,"config":{"title":"Galerie","images":[]}},
  {"type":"counter","enabled":false,"position":10,"config":{"items":[]}},
  {"type":"partners","enabled":false,"position":11,"config":{"title":"Nos partenaires","logos":[]}},
  {"type":"newsletter","enabled":false,"position":12,"config":{"title":"Newsletter","subtitle":"Recevez nos derniÃ¨res offres"}}
]'::jsonb;
-- Create storage bucket for store builder assets
INSERT INTO storage.buckets (id, name, public) VALUES ('store-assets', 'store-assets', true) ON CONFLICT (id) DO NOTHING;

-- RLS: authenticated users can upload to their own folder
CREATE POLICY "Users can upload store assets" ON storage.objects
FOR INSERT TO authenticated
WITH CHECK (bucket_id = 'store-assets' AND (storage.foldername(name))[1] = auth.uid()::text);

-- RLS: anyone can view store assets (public bucket)
CREATE POLICY "Anyone can view store assets" ON storage.objects
FOR SELECT USING (bucket_id = 'store-assets');

-- RLS: users can delete their own assets
CREATE POLICY "Users can delete own store assets" ON storage.objects
FOR DELETE TO authenticated
USING (bucket_id = 'store-assets' AND (storage.foldername(name))[1] = auth.uid()::text);
ALTER TABLE public.products ADD COLUMN IF NOT EXISTS marketing_sections jsonb NOT NULL DEFAULT '[]'::jsonb;

ALTER TABLE public.promo_codes ADD COLUMN product_ids uuid[] DEFAULT NULL;
COMMENT ON COLUMN public.promo_codes.product_ids IS 'NULL means applies to all products, otherwise only to listed product IDs';
ALTER TABLE public.orders ADD COLUMN promo_code text DEFAULT NULL;
ALTER TABLE public.orders ADD COLUMN original_amount numeric DEFAULT NULL;
COMMENT ON COLUMN public.orders.promo_code IS 'Promo code used for this order, NULL if none';
COMMENT ON COLUMN public.orders.original_amount IS 'Original price before discount, NULL if no promo used';
ALTER TABLE public.orders ADD COLUMN payment_method text DEFAULT 'mobile_money';

CREATE TABLE public.custom_domains (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  store_id UUID REFERENCES public.stores(id) ON DELETE CASCADE NOT NULL,
  owner_id UUID NOT NULL,
  domain TEXT NOT NULL,
  status TEXT NOT NULL DEFAULT 'pending',
  dns_verified BOOLEAN NOT NULL DEFAULT false,
  created_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now(),
  updated_at TIMESTAMP WITH TIME ZONE NOT NULL DEFAULT now(),
  UNIQUE(domain)
);

ALTER TABLE public.custom_domains ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can manage their own custom domains"
  ON public.custom_domains
  FOR ALL
  TO authenticated
  USING (owner_id = auth.uid())
  WITH CHECK (owner_id = auth.uid());

CREATE POLICY "Public can read verified custom domains"
  ON public.custom_domains
  FOR SELECT
  TO anon
  USING (dns_verified = true AND status = 'active');
DO $$
BEGIN
  IF NOT EXISTS (SELECT 1 FROM pg_type WHERE typname = 'review_sentiment') THEN
    CREATE TYPE public.review_sentiment AS ENUM ('positive', 'negative');
  END IF;

  IF NOT EXISTS (SELECT 1 FROM pg_type WHERE typname = 'product_report_status') THEN
    CREATE TYPE public.product_report_status AS ENUM ('pending', 'reviewed', 'dismissed', 'actioned');
  END IF;

  IF NOT EXISTS (SELECT 1 FROM pg_type WHERE typname = 'product_moderation_status') THEN
    CREATE TYPE public.product_moderation_status AS ENUM ('approved', 'warning', 'rejected');
  END IF;
END
$$;

CREATE TABLE IF NOT EXISTS public.store_reviews (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  store_id UUID NOT NULL REFERENCES public.stores(id) ON DELETE CASCADE,
  store_owner_id UUID NOT NULL,
  customer_id UUID NOT NULL REFERENCES public.customers(id) ON DELETE CASCADE,
  reviewer_name TEXT NOT NULL,
  sentiment public.review_sentiment NOT NULL,
  title TEXT,
  comment TEXT NOT NULL,
  is_public BOOLEAN NOT NULL DEFAULT true,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  UNIQUE (store_id, customer_id)
);

CREATE TABLE IF NOT EXISTS public.product_reports (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  product_id UUID NOT NULL REFERENCES public.products(id) ON DELETE CASCADE,
  store_owner_id UUID NOT NULL,
  customer_id UUID NOT NULL REFERENCES public.customers(id) ON DELETE CASCADE,
  reporter_name TEXT NOT NULL,
  reason TEXT NOT NULL,
  details TEXT,
  status public.product_report_status NOT NULL DEFAULT 'pending',
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  UNIQUE (product_id, customer_id)
);

CREATE TABLE IF NOT EXISTS public.product_moderation_reviews (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  product_id UUID NOT NULL REFERENCES public.products(id) ON DELETE CASCADE,
  creator_id UUID NOT NULL,
  status public.product_moderation_status NOT NULL DEFAULT 'warning',
  summary TEXT NOT NULL,
  issues JSONB NOT NULL DEFAULT '[]'::jsonb,
  suggested_fixes JSONB NOT NULL DEFAULT '[]'::jsonb,
  raw_result JSONB NOT NULL DEFAULT '{}'::jsonb,
  reviewed_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

CREATE INDEX IF NOT EXISTS idx_store_reviews_store_id_created_at
  ON public.store_reviews(store_id, created_at DESC);
CREATE INDEX IF NOT EXISTS idx_store_reviews_store_owner_id
  ON public.store_reviews(store_owner_id);
CREATE INDEX IF NOT EXISTS idx_product_reports_product_id_created_at
  ON public.product_reports(product_id, created_at DESC);
CREATE INDEX IF NOT EXISTS idx_product_reports_store_owner_id
  ON public.product_reports(store_owner_id);
CREATE INDEX IF NOT EXISTS idx_product_moderation_reviews_product_id_reviewed_at
  ON public.product_moderation_reviews(product_id, reviewed_at DESC);
CREATE INDEX IF NOT EXISTS idx_product_moderation_reviews_creator_id
  ON public.product_moderation_reviews(creator_id);

CREATE OR REPLACE FUNCTION public.set_store_review_metadata()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  v_owner_id UUID;
  v_reviewer_name TEXT;
BEGIN
  SELECT s.owner_id INTO v_owner_id
  FROM public.stores s
  WHERE s.id = NEW.store_id
    AND s.is_archived = false;

  IF v_owner_id IS NULL THEN
    RAISE EXCEPTION 'Boutique introuvable';
  END IF;

  SELECT c.name INTO v_reviewer_name
  FROM public.customers c
  WHERE c.id = NEW.customer_id;

  IF v_reviewer_name IS NULL THEN
    RAISE EXCEPTION 'Client introuvable';
  END IF;

  NEW.store_owner_id := v_owner_id;
  NEW.reviewer_name := v_reviewer_name;
  RETURN NEW;
END;
$$;

CREATE OR REPLACE FUNCTION public.set_product_report_metadata()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  v_owner_id UUID;
  v_reporter_name TEXT;
BEGIN
  SELECT p.creator_id INTO v_owner_id
  FROM public.products p
  WHERE p.id = NEW.product_id
    AND p.is_published = true;

  IF v_owner_id IS NULL THEN
    RAISE EXCEPTION 'Produit introuvable ou non publiÃ©';
  END IF;

  SELECT c.name INTO v_reporter_name
  FROM public.customers c
  WHERE c.id = NEW.customer_id;

  IF v_reporter_name IS NULL THEN
    RAISE EXCEPTION 'Client introuvable';
  END IF;

  NEW.store_owner_id := v_owner_id;
  NEW.reporter_name := v_reporter_name;
  RETURN NEW;
END;
$$;

DROP TRIGGER IF EXISTS set_store_review_metadata_trigger ON public.store_reviews;
CREATE TRIGGER set_store_review_metadata_trigger
BEFORE INSERT OR UPDATE ON public.store_reviews
FOR EACH ROW
EXECUTE FUNCTION public.set_store_review_metadata();

DROP TRIGGER IF EXISTS update_store_reviews_updated_at ON public.store_reviews;
CREATE TRIGGER update_store_reviews_updated_at
BEFORE UPDATE ON public.store_reviews
FOR EACH ROW
EXECUTE FUNCTION public.update_updated_at_column();

DROP TRIGGER IF EXISTS set_product_report_metadata_trigger ON public.product_reports;
CREATE TRIGGER set_product_report_metadata_trigger
BEFORE INSERT OR UPDATE ON public.product_reports
FOR EACH ROW
EXECUTE FUNCTION public.set_product_report_metadata();

DROP TRIGGER IF EXISTS update_product_reports_updated_at ON public.product_reports;
CREATE TRIGGER update_product_reports_updated_at
BEFORE UPDATE ON public.product_reports
FOR EACH ROW
EXECUTE FUNCTION public.update_updated_at_column();

DROP TRIGGER IF EXISTS update_product_moderation_reviews_updated_at ON public.product_moderation_reviews;
CREATE TRIGGER update_product_moderation_reviews_updated_at
BEFORE UPDATE ON public.product_moderation_reviews
FOR EACH ROW
EXECUTE FUNCTION public.update_updated_at_column();

ALTER TABLE public.store_reviews ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.product_reports ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.product_moderation_reviews ENABLE ROW LEVEL SECURITY;

DROP POLICY IF EXISTS "Public can read visible store reviews" ON public.store_reviews;
CREATE POLICY "Public can read visible store reviews"
ON public.store_reviews
FOR SELECT
TO public
USING (is_public = true);

DROP POLICY IF EXISTS "Customers can read own store reviews" ON public.store_reviews;
CREATE POLICY "Customers can read own store reviews"
ON public.store_reviews
FOR SELECT
TO authenticated
USING (
  EXISTS (
    SELECT 1
    FROM public.customers c
    WHERE c.id = store_reviews.customer_id
      AND c.auth_id = auth.uid()
  )
);

DROP POLICY IF EXISTS "Customers can create own store reviews" ON public.store_reviews;
CREATE POLICY "Customers can create own store reviews"
ON public.store_reviews
FOR INSERT
TO authenticated
WITH CHECK (
  EXISTS (
    SELECT 1
    FROM public.customers c
    WHERE c.id = customer_id
      AND c.auth_id = auth.uid()
      AND public.customer_has_order_with_store(c.id, store_owner_id)
  )
);

DROP POLICY IF EXISTS "Customers can update own store reviews" ON public.store_reviews;
CREATE POLICY "Customers can update own store reviews"
ON public.store_reviews
FOR UPDATE
TO authenticated
USING (
  EXISTS (
    SELECT 1
    FROM public.customers c
    WHERE c.id = store_reviews.customer_id
      AND c.auth_id = auth.uid()
  )
)
WITH CHECK (
  EXISTS (
    SELECT 1
    FROM public.customers c
    WHERE c.id = customer_id
      AND c.auth_id = auth.uid()
      AND public.customer_has_order_with_store(c.id, store_owner_id)
  )
);

DROP POLICY IF EXISTS "Customers can delete own store reviews" ON public.store_reviews;
CREATE POLICY "Customers can delete own store reviews"
ON public.store_reviews
FOR DELETE
TO authenticated
USING (
  EXISTS (
    SELECT 1
    FROM public.customers c
    WHERE c.id = store_reviews.customer_id
      AND c.auth_id = auth.uid()
  )
);

DROP POLICY IF EXISTS "Customers can create own product reports" ON public.product_reports;
CREATE POLICY "Customers can create own product reports"
ON public.product_reports
FOR INSERT
TO authenticated
WITH CHECK (
  EXISTS (
    SELECT 1
    FROM public.customers c
    WHERE c.id = customer_id
      AND c.auth_id = auth.uid()
      AND public.customer_has_order_with_store(c.id, store_owner_id)
  )
);

DROP POLICY IF EXISTS "Customers can read own product reports" ON public.product_reports;
CREATE POLICY "Customers can read own product reports"
ON public.product_reports
FOR SELECT
TO authenticated
USING (
  EXISTS (
    SELECT 1
    FROM public.customers c
    WHERE c.id = product_reports.customer_id
      AND c.auth_id = auth.uid()
  )
);

DROP POLICY IF EXISTS "Customers can update own product reports" ON public.product_reports;
CREATE POLICY "Customers can update own product reports"
ON public.product_reports
FOR UPDATE
TO authenticated
USING (
  EXISTS (
    SELECT 1
    FROM public.customers c
    WHERE c.id = product_reports.customer_id
      AND c.auth_id = auth.uid()
  )
)
WITH CHECK (
  EXISTS (
    SELECT 1
    FROM public.customers c
    WHERE c.id = customer_id
      AND c.auth_id = auth.uid()
  )
);

DROP POLICY IF EXISTS "Creators can manage own moderation reviews" ON public.product_moderation_reviews;
CREATE POLICY "Creators can manage own moderation reviews"
ON public.product_moderation_reviews
FOR ALL
TO authenticated
USING (auth.uid() = creator_id)
WITH CHECK (auth.uid() = creator_id);
-- Bot polling state (singleton)
CREATE TABLE public.telegram_bot_state (
  id INT PRIMARY KEY CHECK (id = 1),
  update_offset BIGINT NOT NULL DEFAULT 0,
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);
INSERT INTO public.telegram_bot_state (id, update_offset) VALUES (1, 0);

ALTER TABLE public.telegram_bot_state ENABLE ROW LEVEL SECURITY;
-- No policies: only service_role can access

-- Incoming Telegram messages
CREATE TABLE public.telegram_messages (
  update_id BIGINT PRIMARY KEY,
  chat_id BIGINT NOT NULL,
  from_user_id BIGINT,
  username TEXT,
  text TEXT,
  raw_update JSONB NOT NULL,
  ai_reply TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);
CREATE INDEX idx_telegram_messages_chat_id ON public.telegram_messages (chat_id);

ALTER TABLE public.telegram_messages ENABLE ROW LEVEL SECURITY;
-- service_role only

-- Seller -> Telegram chat linkage
CREATE TABLE public.telegram_links (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID NOT NULL UNIQUE,
  chat_id BIGINT NOT NULL UNIQUE,
  username TEXT,
  first_name TEXT,
  notify_sales BOOLEAN NOT NULL DEFAULT true,
  notify_payouts BOOLEAN NOT NULL DEFAULT true,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);
CREATE INDEX idx_telegram_links_user_id ON public.telegram_links (user_id);

ALTER TABLE public.telegram_links ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users view their own telegram link"
  ON public.telegram_links FOR SELECT
  USING (auth.uid() = user_id);

CREATE POLICY "Users delete their own telegram link"
  ON public.telegram_links FOR DELETE
  USING (auth.uid() = user_id);

CREATE POLICY "Users update their own telegram link"
  ON public.telegram_links FOR UPDATE
  USING (auth.uid() = user_id);

-- Linking tokens (one-shot codes for /link CODE)
CREATE TABLE public.telegram_link_tokens (
  token TEXT PRIMARY KEY,
  user_id UUID NOT NULL,
  expires_at TIMESTAMPTZ NOT NULL,
  used_at TIMESTAMPTZ,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);
CREATE INDEX idx_telegram_link_tokens_user ON public.telegram_link_tokens (user_id);

ALTER TABLE public.telegram_link_tokens ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users view own link tokens"
  ON public.telegram_link_tokens FOR SELECT
  USING (auth.uid() = user_id);

CREATE POLICY "Users create own link tokens"
  ON public.telegram_link_tokens FOR INSERT
  WITH CHECK (auth.uid() = user_id);

-- Admin chats receiving global platform alerts
CREATE TABLE public.telegram_admin_chats (
  chat_id BIGINT PRIMARY KEY,
  username TEXT,
  first_name TEXT,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

ALTER TABLE public.telegram_admin_chats ENABLE ROW LEVEL SECURITY;
-- service_role only

-- Realtime for messages (so the dashboard could show conversations live later)
ALTER PUBLICATION supabase_realtime ADD TABLE public.telegram_messages;
-- 1. Add category column to products
ALTER TABLE public.products
  ADD COLUMN IF NOT EXISTS category TEXT,
  ADD COLUMN IF NOT EXISTS sales_count INTEGER NOT NULL DEFAULT 0;

-- 2. Index for marketplace queries
CREATE INDEX IF NOT EXISTS idx_products_published_category
  ON public.products (is_published, category);

CREATE INDEX IF NOT EXISTS idx_products_published_sales
  ON public.products (is_published, sales_count DESC);

CREATE INDEX IF NOT EXISTS idx_products_published_created
  ON public.products (is_published, created_at DESC);

-- 3. Full-text search index (title + description)
CREATE INDEX IF NOT EXISTS idx_products_search_fts
  ON public.products
  USING GIN (to_tsvector('simple', coalesce(title, '') || ' ' || coalesce(description, '')));

-- 4. Trigger to auto-increment sales_count when an order is completed
CREATE OR REPLACE FUNCTION public.increment_product_sales_count()
RETURNS TRIGGER
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
BEGIN
  IF NEW.status = 'completed' THEN
    UPDATE public.products
    SET sales_count = sales_count + 1
    WHERE id = NEW.product_id;
  END IF;
  RETURN NEW;
END;
$$;

DROP TRIGGER IF EXISTS trg_increment_product_sales ON public.orders;
CREATE TRIGGER trg_increment_product_sales
  AFTER INSERT ON public.orders
  FOR EACH ROW
  EXECUTE FUNCTION public.increment_product_sales_count();

-- 5. Backfill sales_count for existing completed orders
UPDATE public.products p
SET sales_count = sub.cnt
FROM (
  SELECT product_id, COUNT(*)::int AS cnt
  FROM public.orders
  WHERE status = 'completed'
  GROUP BY product_id
) sub
WHERE p.id = sub.product_id;

-- ENUM grades
CREATE TYPE public.badge_grade AS ENUM ('standard', 'pro', 'premium');
CREATE TYPE public.badge_status AS ENUM ('pending_payment', 'active', 'expired', 'revoked');

-- Table principale du badge actif d'un utilisateur
CREATE TABLE public.verified_badges (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID NOT NULL UNIQUE,
  grade public.badge_grade NOT NULL,
  status public.badge_status NOT NULL DEFAULT 'pending_payment',
  ai_score NUMERIC,
  ai_recommendation TEXT,
  granted_by_admin BOOLEAN NOT NULL DEFAULT false,
  granted_by UUID,
  activated_at TIMESTAMPTZ,
  expires_at TIMESTAMPTZ,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now(),
  updated_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Abonnements / paiements mensuels du badge
CREATE TABLE public.badge_subscriptions (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID NOT NULL,
  badge_id UUID,
  grade public.badge_grade NOT NULL,
  amount NUMERIC NOT NULL,
  period_start TIMESTAMPTZ NOT NULL,
  period_end TIMESTAMPTZ NOT NULL,
  status TEXT NOT NULL DEFAULT 'pending', -- pending|paid|failed|cancelled
  moneroo_transaction_id TEXT,
  paid_at TIMESTAMPTZ,
  created_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Historique des analyses IA (eligibility scans)
CREATE TABLE public.badge_eligibility_scans (
  id UUID NOT NULL DEFAULT gen_random_uuid() PRIMARY KEY,
  user_id UUID NOT NULL,
  total_revenue NUMERIC NOT NULL DEFAULT 0,
  sales_last_30d INTEGER NOT NULL DEFAULT 0,
  visits_last_30d INTEGER NOT NULL DEFAULT 0,
  positive_reviews INTEGER NOT NULL DEFAULT 0,
  kyc_verified BOOLEAN NOT NULL DEFAULT false,
  computed_grade public.badge_grade,
  ai_score NUMERIC,
  ai_reasoning TEXT,
  is_eligible BOOLEAN NOT NULL DEFAULT false,
  scanned_at TIMESTAMPTZ NOT NULL DEFAULT now()
);

-- Indexes
CREATE INDEX idx_verified_badges_user ON public.verified_badges(user_id);
CREATE INDEX idx_verified_badges_status ON public.verified_badges(status);
CREATE INDEX idx_badge_subs_user ON public.badge_subscriptions(user_id);
CREATE INDEX idx_badge_scans_user ON public.badge_eligibility_scans(user_id);

-- RLS
ALTER TABLE public.verified_badges ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.badge_subscriptions ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.badge_eligibility_scans ENABLE ROW LEVEL SECURITY;

-- verified_badges policies
CREATE POLICY "Public can view active badges"
  ON public.verified_badges FOR SELECT
  USING (status = 'active');

CREATE POLICY "Users view own badge"
  ON public.verified_badges FOR SELECT
  USING (auth.uid() = user_id);

CREATE POLICY "Admin views all badges"
  ON public.verified_badges FOR SELECT
  USING (auth.email() = 'isidoreagonan@gmail.com');

CREATE POLICY "Admin manages badges"
  ON public.verified_badges FOR ALL
  USING (auth.email() = 'isidoreagonan@gmail.com')
  WITH CHECK (auth.email() = 'isidoreagonan@gmail.com');

-- badge_subscriptions policies
CREATE POLICY "Users view own subscriptions"
  ON public.badge_subscriptions FOR SELECT
  USING (auth.uid() = user_id);

CREATE POLICY "Admin views all subscriptions"
  ON public.badge_subscriptions FOR SELECT
  USING (auth.email() = 'isidoreagonan@gmail.com');

-- badge_eligibility_scans policies
CREATE POLICY "Users view own scans"
  ON public.badge_eligibility_scans FOR SELECT
  USING (auth.uid() = user_id);

CREATE POLICY "Admin views all scans"
  ON public.badge_eligibility_scans FOR SELECT
  USING (auth.email() = 'isidoreagonan@gmail.com');

-- updated_at trigger
CREATE TRIGGER update_verified_badges_updated_at
  BEFORE UPDATE ON public.verified_badges
  FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();

-- Helper function: get current active badge of a user
CREATE OR REPLACE FUNCTION public.get_user_active_badge(_user_id UUID)
RETURNS TABLE(grade public.badge_grade, expires_at TIMESTAMPTZ)
LANGUAGE sql STABLE SECURITY DEFINER SET search_path = public
AS $$
  SELECT vb.grade, vb.expires_at
  FROM public.verified_badges vb
  WHERE vb.user_id = _user_id
    AND vb.status = 'active'
    AND (vb.expires_at IS NULL OR vb.expires_at > now())
  LIMIT 1;
$$;

ALTER TABLE public.products
  ADD COLUMN IF NOT EXISTS file_password TEXT,
  ADD COLUMN IF NOT EXISTS watermark_enabled BOOLEAN NOT NULL DEFAULT false,
  ADD COLUMN IF NOT EXISTS sales_limit INTEGER,
  ADD COLUMN IF NOT EXISTS hide_from_store BOOLEAN NOT NULL DEFAULT false,
  ADD COLUMN IF NOT EXISTS collect_shipping_address BOOLEAN NOT NULL DEFAULT false,
  ADD COLUMN IF NOT EXISTS hide_sales_count BOOLEAN NOT NULL DEFAULT false;

ALTER TABLE public.orders
  ADD COLUMN IF NOT EXISTS shipping_address JSONB;

-- 1. Ã‰tendre l'enum product_type
ALTER TYPE public.product_type ADD VALUE IF NOT EXISTS 'community';

-- 2. Colonnes tarification communautÃ©
ALTER TABLE public.products
  ADD COLUMN IF NOT EXISTS community_price_monthly numeric,
  ADD COLUMN IF NOT EXISTS community_price_yearly numeric,
  ADD COLUMN IF NOT EXISTS community_price_one_time numeric;

-- 3. communities
CREATE TABLE IF NOT EXISTS public.communities (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  product_id uuid NOT NULL UNIQUE,
  creator_id uuid NOT NULL,
  name text NOT NULL,
  description text,
  cover_url text,
  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now()
);
ALTER TABLE public.communities ENABLE ROW LEVEL SECURITY;

-- 4. memberships (crÃ©Ã©e AVANT les fonctions qui la rÃ©fÃ©rencent)
CREATE TABLE IF NOT EXISTS public.community_memberships (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  community_id uuid NOT NULL REFERENCES public.communities(id) ON DELETE CASCADE,
  customer_id uuid NOT NULL,
  billing_cycle text NOT NULL,
  status text NOT NULL DEFAULT 'active',
  started_at timestamptz NOT NULL DEFAULT now(),
  expires_at timestamptz,
  last_order_id uuid,
  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now(),
  UNIQUE(community_id, customer_id)
);
ALTER TABLE public.community_memberships ENABLE ROW LEVEL SECURITY;

-- 5. Helper functions (security definer)
CREATE OR REPLACE FUNCTION public.is_active_community_member(_community_id uuid)
RETURNS boolean LANGUAGE sql STABLE SECURITY DEFINER SET search_path = public AS $$
  SELECT EXISTS (
    SELECT 1
    FROM public.community_memberships m
    JOIN public.customers c ON c.id = m.customer_id
    WHERE m.community_id = _community_id
      AND c.auth_id = auth.uid()
      AND m.status = 'active'
      AND (m.expires_at IS NULL OR m.expires_at > now())
  );
$$;

CREATE OR REPLACE FUNCTION public.is_community_creator(_community_id uuid)
RETURNS boolean LANGUAGE sql STABLE SECURITY DEFINER SET search_path = public AS $$
  SELECT EXISTS (SELECT 1 FROM public.communities WHERE id = _community_id AND creator_id = auth.uid());
$$;

-- Policies communities
CREATE POLICY "Public can view communities" ON public.communities
  FOR SELECT USING (true);
CREATE POLICY "Creators can manage own communities" ON public.communities
  FOR ALL USING (auth.uid() = creator_id) WITH CHECK (auth.uid() = creator_id);

-- Policies memberships
CREATE POLICY "Customer reads own membership" ON public.community_memberships
  FOR SELECT USING (
    EXISTS (SELECT 1 FROM public.customers c WHERE c.id = customer_id AND c.auth_id = auth.uid())
  );
CREATE POLICY "Creator reads memberships of own community" ON public.community_memberships
  FOR SELECT USING (public.is_community_creator(community_id));
CREATE POLICY "System inserts memberships" ON public.community_memberships
  FOR INSERT WITH CHECK (true);
CREATE POLICY "System updates memberships" ON public.community_memberships
  FOR UPDATE USING (true);
CREATE POLICY "Creator can revoke membership" ON public.community_memberships
  FOR DELETE USING (public.is_community_creator(community_id));

-- 6. channels
CREATE TABLE IF NOT EXISTS public.community_channels (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  community_id uuid NOT NULL REFERENCES public.communities(id) ON DELETE CASCADE,
  name text NOT NULL,
  description text,
  type text NOT NULL DEFAULT 'chat',
  position integer NOT NULL DEFAULT 0,
  created_at timestamptz NOT NULL DEFAULT now()
);
ALTER TABLE public.community_channels ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Members and creator view channels" ON public.community_channels
  FOR SELECT USING (public.is_active_community_member(community_id) OR public.is_community_creator(community_id));
CREATE POLICY "Creator manages channels" ON public.community_channels
  FOR ALL USING (public.is_community_creator(community_id)) WITH CHECK (public.is_community_creator(community_id));

-- 7. messages
CREATE TABLE IF NOT EXISTS public.community_messages (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  channel_id uuid NOT NULL REFERENCES public.community_channels(id) ON DELETE CASCADE,
  community_id uuid NOT NULL REFERENCES public.communities(id) ON DELETE CASCADE,
  sender_auth_id uuid,
  sender_customer_id uuid,
  sender_name text NOT NULL,
  sender_avatar text,
  content text NOT NULL,
  attachment_url text,
  created_at timestamptz NOT NULL DEFAULT now()
);
ALTER TABLE public.community_messages ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Members and creator read messages" ON public.community_messages
  FOR SELECT USING (public.is_active_community_member(community_id) OR public.is_community_creator(community_id));
CREATE POLICY "Members and creator post messages" ON public.community_messages
  FOR INSERT WITH CHECK (
    (public.is_active_community_member(community_id) OR public.is_community_creator(community_id))
    AND sender_auth_id = auth.uid()
  );
CREATE POLICY "Author or creator delete message" ON public.community_messages
  FOR DELETE USING (sender_auth_id = auth.uid() OR public.is_community_creator(community_id));

-- 8. posts
CREATE TABLE IF NOT EXISTS public.community_posts (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  community_id uuid NOT NULL REFERENCES public.communities(id) ON DELETE CASCADE,
  author_id uuid NOT NULL,
  title text,
  content text NOT NULL,
  image_url text,
  likes_count integer NOT NULL DEFAULT 0,
  created_at timestamptz NOT NULL DEFAULT now()
);
ALTER TABLE public.community_posts ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Members and creator read posts" ON public.community_posts
  FOR SELECT USING (public.is_active_community_member(community_id) OR public.is_community_creator(community_id));
CREATE POLICY "Creator manages posts" ON public.community_posts
  FOR ALL USING (public.is_community_creator(community_id)) WITH CHECK (public.is_community_creator(community_id));

-- 9. comments
CREATE TABLE IF NOT EXISTS public.community_post_comments (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  post_id uuid NOT NULL REFERENCES public.community_posts(id) ON DELETE CASCADE,
  community_id uuid NOT NULL REFERENCES public.communities(id) ON DELETE CASCADE,
  author_auth_id uuid NOT NULL,
  author_name text NOT NULL,
  author_avatar text,
  content text NOT NULL,
  created_at timestamptz NOT NULL DEFAULT now()
);
ALTER TABLE public.community_post_comments ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Members and creator read comments" ON public.community_post_comments
  FOR SELECT USING (public.is_active_community_member(community_id) OR public.is_community_creator(community_id));
CREATE POLICY "Members and creator comment" ON public.community_post_comments
  FOR INSERT WITH CHECK (
    (public.is_active_community_member(community_id) OR public.is_community_creator(community_id))
    AND author_auth_id = auth.uid()
  );
CREATE POLICY "Author or creator delete comment" ON public.community_post_comments
  FOR DELETE USING (author_auth_id = auth.uid() OR public.is_community_creator(community_id));

-- 10. likes
CREATE TABLE IF NOT EXISTS public.community_post_likes (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  post_id uuid NOT NULL REFERENCES public.community_posts(id) ON DELETE CASCADE,
  community_id uuid NOT NULL REFERENCES public.communities(id) ON DELETE CASCADE,
  user_auth_id uuid NOT NULL,
  created_at timestamptz NOT NULL DEFAULT now(),
  UNIQUE(post_id, user_auth_id)
);
ALTER TABLE public.community_post_likes ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Members and creator read likes" ON public.community_post_likes
  FOR SELECT USING (public.is_active_community_member(community_id) OR public.is_community_creator(community_id));
CREATE POLICY "Members and creator like" ON public.community_post_likes
  FOR INSERT WITH CHECK (
    (public.is_active_community_member(community_id) OR public.is_community_creator(community_id))
    AND user_auth_id = auth.uid()
  );
CREATE POLICY "User unlikes own like" ON public.community_post_likes
  FOR DELETE USING (user_auth_id = auth.uid());

-- 11. resources
CREATE TABLE IF NOT EXISTS public.community_resources (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  community_id uuid NOT NULL REFERENCES public.communities(id) ON DELETE CASCADE,
  title text NOT NULL,
  description text,
  resource_type text NOT NULL DEFAULT 'file',
  url text NOT NULL,
  position integer NOT NULL DEFAULT 0,
  created_at timestamptz NOT NULL DEFAULT now()
);
ALTER TABLE public.community_resources ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Members and creator read resources" ON public.community_resources
  FOR SELECT USING (public.is_active_community_member(community_id) OR public.is_community_creator(community_id));
CREATE POLICY "Creator manages resources" ON public.community_resources
  FOR ALL USING (public.is_community_creator(community_id)) WITH CHECK (public.is_community_creator(community_id));

-- 12. events
CREATE TABLE IF NOT EXISTS public.community_events (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  community_id uuid NOT NULL REFERENCES public.communities(id) ON DELETE CASCADE,
  title text NOT NULL,
  description text,
  starts_at timestamptz NOT NULL,
  ends_at timestamptz,
  meeting_url text,
  cover_url text,
  created_at timestamptz NOT NULL DEFAULT now()
);
ALTER TABLE public.community_events ENABLE ROW LEVEL SECURITY;
CREATE POLICY "Members and creator read events" ON public.community_events
  FOR SELECT USING (public.is_active_community_member(community_id) OR public.is_community_creator(community_id));
CREATE POLICY "Creator manages events" ON public.community_events
  FOR ALL USING (public.is_community_creator(community_id)) WITH CHECK (public.is_community_creator(community_id));

-- 13. Triggers
CREATE TRIGGER trg_communities_updated BEFORE UPDATE ON public.communities
  FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();
CREATE TRIGGER trg_memberships_updated BEFORE UPDATE ON public.community_memberships
  FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();

CREATE OR REPLACE FUNCTION public.update_post_likes_count()
RETURNS trigger LANGUAGE plpgsql SECURITY DEFINER SET search_path = public AS $$
BEGIN
  IF TG_OP = 'INSERT' THEN
    UPDATE public.community_posts SET likes_count = likes_count + 1 WHERE id = NEW.post_id;
  ELSIF TG_OP = 'DELETE' THEN
    UPDATE public.community_posts SET likes_count = GREATEST(likes_count - 1, 0) WHERE id = OLD.post_id;
  END IF;
  RETURN NULL;
END; $$;
CREATE TRIGGER trg_post_likes_count
  AFTER INSERT OR DELETE ON public.community_post_likes
  FOR EACH ROW EXECUTE FUNCTION public.update_post_likes_count();

-- 14. Realtime
ALTER PUBLICATION supabase_realtime ADD TABLE public.community_messages;
ALTER PUBLICATION supabase_realtime ADD TABLE public.community_posts;
ALTER PUBLICATION supabase_realtime ADD TABLE public.community_post_comments;
ALTER PUBLICATION supabase_realtime ADD TABLE public.community_post_likes;

-- 15. Indexes
CREATE INDEX IF NOT EXISTS idx_community_messages_channel ON public.community_messages(channel_id, created_at DESC);
CREATE INDEX IF NOT EXISTS idx_community_posts_community ON public.community_posts(community_id, created_at DESC);
CREATE INDEX IF NOT EXISTS idx_memberships_lookup ON public.community_memberships(community_id, customer_id);
CREATE INDEX IF NOT EXISTS idx_channels_community ON public.community_channels(community_id, position);
ALTER TABLE public.community_messages REPLICA IDENTITY FULL;
ALTER TABLE public.community_posts REPLICA IDENTITY FULL;
ALTER TABLE public.community_post_likes REPLICA IDENTITY FULL;
ALTER TABLE public.community_post_comments REPLICA IDENTITY FULL;
-- Drop community tables (cascade removes RLS, indexes, foreign refs)
DROP TABLE IF EXISTS public.community_post_comments CASCADE;
DROP TABLE IF EXISTS public.community_post_likes CASCADE;
DROP TABLE IF EXISTS public.community_posts CASCADE;
DROP TABLE IF EXISTS public.community_messages CASCADE;
DROP TABLE IF EXISTS public.community_channels CASCADE;
DROP TABLE IF EXISTS public.community_resources CASCADE;
DROP TABLE IF EXISTS public.community_events CASCADE;
DROP TABLE IF EXISTS public.community_memberships CASCADE;
DROP TABLE IF EXISTS public.communities CASCADE;

-- Drop helper functions
DROP FUNCTION IF EXISTS public.is_active_community_member(uuid) CASCADE;
DROP FUNCTION IF EXISTS public.is_community_creator(uuid) CASCADE;
DROP FUNCTION IF EXISTS public.update_post_likes_count() CASCADE;

-- Remove community pricing columns from products
ALTER TABLE public.products
  DROP COLUMN IF EXISTS community_price_monthly,
  DROP COLUMN IF EXISTS community_price_yearly,
  DROP COLUMN IF EXISTS community_price_one_time;

-- Delete any community-typed products before removing enum value
DELETE FROM public.products WHERE type = 'community';

-- Recreate product_type enum without 'community'
ALTER TYPE public.product_type RENAME TO product_type_old;
CREATE TYPE public.product_type AS ENUM ('file', 'course', 'license');
ALTER TABLE public.products
  ALTER COLUMN type DROP DEFAULT,
  ALTER COLUMN type TYPE public.product_type USING type::text::public.product_type,
  ALTER COLUMN type SET DEFAULT 'file'::public.product_type;
DROP TYPE public.product_type_old;

-- 1. PRODUCT REVIEWS
CREATE TABLE public.product_reviews (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  product_id uuid NOT NULL,
  store_owner_id uuid NOT NULL,
  customer_id uuid NOT NULL,
  reviewer_name text NOT NULL,
  sentiment text NOT NULL CHECK (sentiment IN ('positive','negative')),
  title text,
  comment text NOT NULL,
  is_public boolean NOT NULL DEFAULT true,
  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now(),
  UNIQUE (product_id, customer_id)
);

ALTER TABLE public.product_reviews ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Public can read public product reviews"
  ON public.product_reviews FOR SELECT
  USING (is_public = true);

CREATE POLICY "Customers can read own product reviews"
  ON public.product_reviews FOR SELECT TO authenticated
  USING (EXISTS (SELECT 1 FROM public.customers c WHERE c.id = customer_id AND c.auth_id = auth.uid()));

CREATE POLICY "Store owner can read own product reviews"
  ON public.product_reviews FOR SELECT TO authenticated
  USING (auth.uid() = store_owner_id);

CREATE POLICY "Customers can create own product reviews"
  ON public.product_reviews FOR INSERT TO authenticated
  WITH CHECK (
    EXISTS (
      SELECT 1 FROM public.customers c
      WHERE c.id = customer_id
        AND c.auth_id = auth.uid()
        AND EXISTS (
          SELECT 1 FROM public.orders o
          WHERE o.customer_id = c.id
            AND o.product_id = product_reviews.product_id
        )
    )
  );

CREATE POLICY "Customers can update own product reviews"
  ON public.product_reviews FOR UPDATE TO authenticated
  USING (EXISTS (SELECT 1 FROM public.customers c WHERE c.id = customer_id AND c.auth_id = auth.uid()))
  WITH CHECK (EXISTS (SELECT 1 FROM public.customers c WHERE c.id = customer_id AND c.auth_id = auth.uid()));

CREATE POLICY "Customers can delete own product reviews"
  ON public.product_reviews FOR DELETE TO authenticated
  USING (EXISTS (SELECT 1 FROM public.customers c WHERE c.id = customer_id AND c.auth_id = auth.uid()));

CREATE INDEX idx_product_reviews_product ON public.product_reviews(product_id);
CREATE INDEX idx_product_reviews_store ON public.product_reviews(store_owner_id);

-- Trigger: set metadata (store_owner_id, reviewer_name)
CREATE OR REPLACE FUNCTION public.set_product_review_metadata()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER
SET search_path = public
AS $$
DECLARE
  v_owner_id uuid;
  v_name text;
BEGIN
  SELECT creator_id INTO v_owner_id FROM public.products WHERE id = NEW.product_id;
  IF v_owner_id IS NULL THEN
    RAISE EXCEPTION 'Produit introuvable';
  END IF;
  SELECT name INTO v_name FROM public.customers WHERE id = NEW.customer_id;
  IF v_name IS NULL THEN
    RAISE EXCEPTION 'Client introuvable';
  END IF;
  NEW.store_owner_id := v_owner_id;
  NEW.reviewer_name := v_name;
  NEW.updated_at := now();
  RETURN NEW;
END;
$$;

CREATE TRIGGER trg_product_review_meta
  BEFORE INSERT OR UPDATE ON public.product_reviews
  FOR EACH ROW EXECUTE FUNCTION public.set_product_review_metadata();

-- 2. KYC verified status helper (for blue badge)
-- Public function to check if a customer's linked auth user has approved KYC
CREATE OR REPLACE FUNCTION public.customer_has_kyc(_customer_id uuid)
RETURNS boolean
LANGUAGE sql
STABLE SECURITY DEFINER
SET search_path = public
AS $$
  SELECT EXISTS (
    SELECT 1
    FROM public.customers c
    JOIN public.identity_verifications iv ON iv.user_id = c.auth_id
    WHERE c.id = _customer_id
      AND iv.status = 'approved'
  );
$$;

GRANT EXECUTE ON FUNCTION public.customer_has_kyc(uuid) TO anon, authenticated;

-- 3. SUPPORT TICKETS (per-order)
CREATE TABLE public.support_tickets (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  order_id uuid NOT NULL,
  product_id uuid NOT NULL,
  store_owner_id uuid NOT NULL,
  customer_id uuid NOT NULL,
  subject text NOT NULL,
  status text NOT NULL DEFAULT 'open' CHECK (status IN ('open','pending','resolved','closed')),
  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now()
);

ALTER TABLE public.support_tickets ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Customers can read own tickets"
  ON public.support_tickets FOR SELECT TO authenticated
  USING (EXISTS (SELECT 1 FROM public.customers c WHERE c.id = customer_id AND c.auth_id = auth.uid()));

CREATE POLICY "Store owners can read tickets on own products"
  ON public.support_tickets FOR SELECT TO authenticated
  USING (auth.uid() = store_owner_id);

CREATE POLICY "Customers can create tickets for own orders"
  ON public.support_tickets FOR INSERT TO authenticated
  WITH CHECK (
    EXISTS (
      SELECT 1 FROM public.customers c
      JOIN public.orders o ON o.customer_id = c.id
      WHERE c.id = customer_id
        AND c.auth_id = auth.uid()
        AND o.id = order_id
    )
  );

CREATE POLICY "Owner can update tickets"
  ON public.support_tickets FOR UPDATE TO authenticated
  USING (auth.uid() = store_owner_id OR EXISTS (SELECT 1 FROM public.customers c WHERE c.id = customer_id AND c.auth_id = auth.uid()));

CREATE TABLE public.support_ticket_messages (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  ticket_id uuid NOT NULL REFERENCES public.support_tickets(id) ON DELETE CASCADE,
  sender_type text NOT NULL CHECK (sender_type IN ('customer','seller')),
  sender_id uuid,
  content text NOT NULL,
  created_at timestamptz NOT NULL DEFAULT now()
);

ALTER TABLE public.support_ticket_messages ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Participants can read messages"
  ON public.support_ticket_messages FOR SELECT TO authenticated
  USING (
    EXISTS (
      SELECT 1 FROM public.support_tickets t
      WHERE t.id = ticket_id
        AND (t.store_owner_id = auth.uid()
             OR EXISTS (SELECT 1 FROM public.customers c WHERE c.id = t.customer_id AND c.auth_id = auth.uid()))
    )
  );

CREATE POLICY "Participants can send messages"
  ON public.support_ticket_messages FOR INSERT TO authenticated
  WITH CHECK (
    EXISTS (
      SELECT 1 FROM public.support_tickets t
      WHERE t.id = ticket_id
        AND (
          (sender_type = 'seller' AND t.store_owner_id = auth.uid())
          OR (sender_type = 'customer' AND EXISTS (SELECT 1 FROM public.customers c WHERE c.id = t.customer_id AND c.auth_id = auth.uid()))
        )
    )
  );

CREATE INDEX idx_support_tickets_customer ON public.support_tickets(customer_id);
CREATE INDEX idx_support_tickets_owner ON public.support_tickets(store_owner_id);
CREATE INDEX idx_support_messages_ticket ON public.support_ticket_messages(ticket_id);

CREATE TRIGGER trg_support_tickets_updated
  BEFORE UPDATE ON public.support_tickets
  FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();
ALTER TABLE public.stores
  ADD COLUMN IF NOT EXISTS legal_notice text,
  ADD COLUMN IF NOT EXISTS terms_of_use text,
  ADD COLUMN IF NOT EXISTS privacy_policy text,
  ADD COLUMN IF NOT EXISTS footer_disclaimer text;
ALTER TABLE public.identity_verifications
  ADD COLUMN IF NOT EXISTS didit_session_id TEXT,
  ADD COLUMN IF NOT EXISTS didit_session_url TEXT,
  ADD COLUMN IF NOT EXISTS didit_decision JSONB;

CREATE INDEX IF NOT EXISTS idx_identity_verif_didit_session
  ON public.identity_verifications(didit_session_id);
DELETE FROM public.identity_verifications
WHERE didit_session_id IS NOT NULL;
ALTER TABLE public.identity_verifications REPLICA IDENTITY FULL;
DO $$ BEGIN
  BEGIN
    ALTER PUBLICATION supabase_realtime ADD TABLE public.identity_verifications;
  EXCEPTION WHEN duplicate_object THEN NULL;
  END;
END $$;
ALTER TABLE public.identity_verifications
  ADD COLUMN IF NOT EXISTS document_number text;

CREATE UNIQUE INDEX IF NOT EXISTS uniq_approved_document_number
  ON public.identity_verifications (document_number)
  WHERE status = 'approved' AND document_number IS NOT NULL;
-- Add pawapay tracking columns
ALTER TABLE public.orders ADD COLUMN IF NOT EXISTS pawapay_deposit_id text;
CREATE INDEX IF NOT EXISTS orders_pawapay_deposit_id_idx ON public.orders(pawapay_deposit_id);

ALTER TABLE public.payment_events ADD COLUMN IF NOT EXISTS pawapay_deposit_id text;
CREATE INDEX IF NOT EXISTS payment_events_pawapay_deposit_id_idx ON public.payment_events(pawapay_deposit_id);

ALTER TABLE public.withdrawals ADD COLUMN IF NOT EXISTS pawapay_payout_id text;
ALTER TABLE public.withdrawals ADD COLUMN IF NOT EXISTS provider_code text;
CREATE INDEX IF NOT EXISTS withdrawals_pawapay_payout_id_idx ON public.withdrawals(pawapay_payout_id);

-- Allow service_role realtime updates for payment_events
ALTER TABLE public.payment_events REPLICA IDENTITY FULL;

-- Wallets (mobile money payout accounts)
CREATE TABLE public.wallets (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id uuid NOT NULL,
  name text NOT NULL,
  country text NOT NULL,
  provider_code text NOT NULL,
  phone text NOT NULL,
  holder_first_name text NOT NULL,
  holder_last_name text NOT NULL,
  is_default boolean NOT NULL DEFAULT false,
  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now()
);

ALTER TABLE public.wallets ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users manage own wallets"
  ON public.wallets FOR ALL TO authenticated
  USING (auth.uid() = user_id) WITH CHECK (auth.uid() = user_id);

CREATE TRIGGER wallets_updated_at BEFORE UPDATE ON public.wallets
  FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();

-- Limit 3 wallets per user
CREATE OR REPLACE FUNCTION public.check_max_wallets()
RETURNS trigger LANGUAGE plpgsql SECURITY DEFINER SET search_path = public AS $$
BEGIN
  IF (SELECT count(*) FROM public.wallets WHERE user_id = NEW.user_id) >= 3 THEN
    RAISE EXCEPTION 'Maximum 3 wallets per user';
  END IF;
  RETURN NEW;
END; $$;

CREATE TRIGGER wallets_max_check BEFORE INSERT ON public.wallets
  FOR EACH ROW EXECUTE FUNCTION public.check_max_wallets();

-- Wallet PIN (one per user)
CREATE TABLE public.wallet_pins (
  user_id uuid PRIMARY KEY,
  pin_hash text NOT NULL,
  failed_attempts integer NOT NULL DEFAULT 0,
  locked_until timestamptz,
  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now()
);

ALTER TABLE public.wallet_pins ENABLE ROW LEVEL SECURITY;

-- Only the owner can SEE that a pin exists; mutations go through edge functions (service role)
CREATE POLICY "Users can view own pin row"
  ON public.wallet_pins FOR SELECT TO authenticated
  USING (auth.uid() = user_id);

-- Platform fees (admin-tunable)
CREATE TABLE public.platform_fees (
  key text PRIMARY KEY,
  value_pct numeric NOT NULL,
  updated_at timestamptz NOT NULL DEFAULT now()
);

ALTER TABLE public.platform_fees ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Anyone can read fees"
  ON public.platform_fees FOR SELECT USING (true);

CREATE POLICY "Admin can manage fees"
  ON public.platform_fees FOR ALL TO authenticated
  USING (auth.email() = 'isidoreagonan@gmail.com')
  WITH CHECK (auth.email() = 'isidoreagonan@gmail.com');

INSERT INTO public.platform_fees (key, value_pct) VALUES
  ('dukaio_commission_pct', 10),
  ('pawapay_deposit_pct', 3),
  ('pawapay_payout_pct', 2);
-- Add Moneroo payout tracking column
ALTER TABLE public.withdrawals ADD COLUMN IF NOT EXISTS moneroo_payout_id TEXT;
CREATE INDEX IF NOT EXISTS withdrawals_moneroo_payout_id_idx ON public.withdrawals(moneroo_payout_id);
CREATE INDEX IF NOT EXISTS orders_moneroo_transaction_id_idx ON public.orders(moneroo_transaction_id);

ALTER TABLE public.profiles
  ADD COLUMN IF NOT EXISTS last_2fa_verified_at timestamptz;

CREATE TABLE IF NOT EXISTS public.login_otps (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id uuid NOT NULL,
  email text NOT NULL,
  code text NOT NULL,
  expires_at timestamptz NOT NULL,
  used boolean NOT NULL DEFAULT false,
  created_at timestamptz NOT NULL DEFAULT now()
);

CREATE INDEX IF NOT EXISTS idx_login_otps_lookup
  ON public.login_otps (user_id, used, expires_at);

ALTER TABLE public.login_otps ENABLE ROW LEVEL SECURITY;

CREATE POLICY "System manages login_otps"
  ON public.login_otps
  FOR ALL
  USING (false)
  WITH CHECK (false);
-- Drop existing permissive ALL policy and replace with explicit per-command deny policies
DROP POLICY IF EXISTS "System manages login_otps" ON public.login_otps;

-- Ensure RLS is enabled and forced (applies even to table owner via API)
ALTER TABLE public.login_otps ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.login_otps FORCE ROW LEVEL SECURITY;

-- Revoke any direct grants from API roles (service_role bypasses RLS entirely)
REVOKE ALL ON public.login_otps FROM anon, authenticated, public;

-- Explicit deny policies for clarity to scanners (no role can SELECT/INSERT/UPDATE/DELETE via PostgREST)
CREATE POLICY "Deny select to anon and authenticated"
ON public.login_otps
FOR SELECT
TO anon, authenticated
USING (false);

CREATE POLICY "Deny insert to anon and authenticated"
ON public.login_otps
FOR INSERT
TO anon, authenticated
WITH CHECK (false);

CREATE POLICY "Deny update to anon and authenticated"
ON public.login_otps
FOR UPDATE
TO anon, authenticated
USING (false)
WITH CHECK (false);

CREATE POLICY "Deny delete to anon and authenticated"
ON public.login_otps
FOR DELETE
TO anon, authenticated
USING (false);
UPDATE public.login_otps SET used = true WHERE used = false;
ALTER TABLE public.customers ADD COLUMN IF NOT EXISTS last_otp_verified_at TIMESTAMPTZ;
CREATE INDEX IF NOT EXISTS idx_customers_auth_id ON public.customers(auth_id);
CREATE INDEX IF NOT EXISTS idx_customers_email ON public.customers(email);

-- Nova AI Assistant: threads + messages
CREATE TABLE public.nova_threads (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id uuid NOT NULL,
  store_id uuid,
  title text NOT NULL DEFAULT 'Nouvelle conversation',
  created_at timestamptz NOT NULL DEFAULT now(),
  updated_at timestamptz NOT NULL DEFAULT now()
);

CREATE INDEX idx_nova_threads_user ON public.nova_threads(user_id, updated_at DESC);

ALTER TABLE public.nova_threads ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users view own threads" ON public.nova_threads FOR SELECT USING (auth.uid() = user_id);
CREATE POLICY "Users create own threads" ON public.nova_threads FOR INSERT WITH CHECK (auth.uid() = user_id);
CREATE POLICY "Users update own threads" ON public.nova_threads FOR UPDATE USING (auth.uid() = user_id);
CREATE POLICY "Users delete own threads" ON public.nova_threads FOR DELETE USING (auth.uid() = user_id);

CREATE TABLE public.nova_messages (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  thread_id uuid NOT NULL REFERENCES public.nova_threads(id) ON DELETE CASCADE,
  user_id uuid NOT NULL,
  role text NOT NULL CHECK (role IN ('user','assistant','system','tool')),
  content jsonb NOT NULL,
  created_at timestamptz NOT NULL DEFAULT now()
);

CREATE INDEX idx_nova_messages_thread ON public.nova_messages(thread_id, created_at ASC);

ALTER TABLE public.nova_messages ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users view own messages" ON public.nova_messages FOR SELECT USING (auth.uid() = user_id);
CREATE POLICY "Users create own messages" ON public.nova_messages FOR INSERT WITH CHECK (auth.uid() = user_id);
CREATE POLICY "Users delete own messages" ON public.nova_messages FOR DELETE USING (auth.uid() = user_id);

CREATE TRIGGER update_nova_threads_updated_at
BEFORE UPDATE ON public.nova_threads
FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();
